{% extends 'base.html' %}
{% load static %}
{% block title %}
<title> Welcome to Taskmate </title>
{% endblock title %}

{% block content %}

    <div class = "container"> 
       <div class="row mt-5">
         <div class="col-lg-4">
            <img src="{% static 'images/note_picture.jpg' %}" alt="note picture" class="rounded-lg shadow-" width="244" height="350">
            </div>
         <div class="col-lg-4">
            <img src="{% static 'images/note_picture.jpg' %}" alt="note picture" class="rounded-lg shadow" width="244" height="350">
            </div>
         <div class="col-lg-4">
            <img src="{% static 'images/note_picture.jpg' %}" alt="note picture" class="rounded-lg shadow-sm" width="244" height="350">
            </div>
       </div>

       <div class="row mt-5">
        <div class=" col-md-10 offset-md-1">
            <center><p class="h1 text-primary">C.O.R.E. Services, LLC - Task Tracker</p></center>
            <center><p class="h2 mt-3 text-primary">Keep Track of Everything</p></center>
            <center><a href="{% url 'login' %}"> <button class="btn btn-primary btn-lg mt-3 shadow">Get Started</button></a></center>
        </div> 
       </div>
    </div>
{% endblock content %}