{% extends 'base.html' %}

{% block title %}
<title> Todo List Manage - Taskmate </title>
{% endblock title %}

{% block content %}
       <div class = "container"> 
    </br>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
       
        <div class="row mb-3">
         <div class="col-lg-6">
          <input type="text" class="form-control " name ="task" placeholder="New Task?">
           </div>
        <div class="col-lg-2">
        <button type="submit" class="btn btn-primary">Add Task</button>
        </div>
    </div>
   
      </form>
    </br>
       <table class="table">
        <div>
        <p class="text-light">Sort by: 
        <a href="?order=asc" class="text-light">Incomplete First</a> | 
        <a href="?order=desc" class="text-light">Complete First</a>
         </p>
        </div>
        
        <!-- Your existing table goes here -->
        
        <thead class="table-dark">
          <tr class="row"> 
            <th class="col-8">Task</th>
            <th class="col-2">Done</th>
            <th class="col-1">Edit</th>
            <th class="col-1">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% if all_tasks %}
              {% for obj in all_tasks %}
                  {% if obj.done %}
                      <tr class= "table-success row"> 
                          <td class="col-8"><del class="text-danger">{{ obj.task }}</del></td>
                          <td class="col-2"></td>
                          <td class="col-1"><a href ="{% url 'edit_task' obj.id %} " class="btn btn-warning btn-sm">Edit</a></td>
                          <td class="col-1"><a href ="{% url 'delete_task' obj.id %} " class="btn btn-danger btn-sm">Delete</a></td>
                      </tr>
                  {% else %}
                      <tr class= "row">
                          <td class="col-8">{{ obj.task }}</td>
                          <td class="col-2"><a href ="{% url 'complete_task' obj.id %} " class="btn btn-info btn-sm">Complete</a></td>
                          <td class="col-1"><a href ="{% url 'edit_task' obj.id %} " class="btn btn-warning btn-sm">Edit</a></td>
                          <td class="col-1"><a href ="{% url 'delete_task' obj.id %} " class="btn btn-danger btn-sm">Delete</a></td>
                      </tr>
                  {% endif %}
              {% endfor %}
          {% endif %}    
          </tbody>
          
       
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
        
          <li class="page-item"><a class="page-link" href="?page=1"><<</a></li>
          {% if all_tasks.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ all_tasks.previous_page_number }}">{{ all_tasks.previous_page_number }}</a></li>
          {% endif %}      
          <li class="page-item"><a class="page-link" href="?page={{ all_tasks.number }}">{{ all_tasks.number }}</a></li>
          {% if all_tasks.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ all_tasks.next_page_number }}">{{ all_tasks.next_page_number }}</a></li>
          {% endif %} 

          
          <li class="page-item"><a class="page-link" href="?page={{ all_tasks.paginator.num_pages }}">>></a></li>
        </ul>
      </nav>
     
    </div>
{% endblock content %}