
body {
    background-image: url('../images/bg_dark.jpg'); /* Note the adjustment in the path */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}