{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
<title> Login - CORETASKS </title>
{% endblock title %}

{% block content %}
<div class="container">
</br>
<h2 class="text-light"> Login to CORETASKS </h2>
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}

        <form method="POST" class="text-light col-12 col-md-6 mt-5">
            {% csrf_token %}

            {{ form|crispy }}
            <button class= "btn btn-primary mb-5" type="submit">Login</button>

        </form>
    </div>
</div>
{% endblock content %}